@model Interns.Services.Helpers.SearchingAndPagingViewModel<Interns.Core.Data.SubDomain>
@using Interns.Presentation.Helper

@{
    ViewBag.Title = "Subdomains";
}

<h2>Subdomains</h2>

@using (Html.BeginForm("SubDomains", "SubDomain", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("stringSearch", @Model.SearchString)
        <input type="submit" value="Search" />
    </p>
}

<div class="text-right">
    @Html.ActionLink("Sort by Name Descending", "SubDomains", new { sortOrder = @Model.SortingOrder, currentFilter = @Model.SearchString, page = @Model.PagingInfo.CurrentPage })
</div>

<div class="panel panel-default">
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th class="text-left">Name</th>
            <th> Go to </th>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                <th>Actions</th>
            }
        </tr>

        @foreach (var item in Model.Collection)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Advertises", "GetAdvertisesByDomain", "Domain", new { domainId = item.Id }, null)
                </td>
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "EditSubDomain", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteSubDomain", new { id = item.Id })
                    </td>
                }
            </tr>
        }
    </table>
</div>

<div class="pull-left">
    Page @(Model.PagingInfo.TotalPages < Model.PagingInfo.CurrentPage ? 0 : Model.PagingInfo.CurrentPage) of @Model.PagingInfo.TotalPages

    @if (Model.PagingInfo.TotalPages > 1)
    {
        <div>
            @Html.PageLinks(Model.PagingInfo, x => Url.Action("SubDomains", new { page = x }))
        </div>
    }
</div>
<br />

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <div> @Html.ActionLink("Add Subdomain", "SelectDomain", null, new { @class = "btn btn-default" }) </div>
}