@model Interns.Services.Models.QAModelView2

@{
    ViewBag.Title = "The Test";
}

<h2>Good Luck!</h2>

@using (Html.BeginForm("TakeTests", "Test", FormMethod.Post))
{
    foreach (var question in Model.Questions)
    {
        <hr />
        <div>@question.Id @question.Quest</div>
        <ul style="list-style-type: none;">

            @foreach (var answers in question.Answers)
            {
            <li>
                <label style="font-weight: normal">
                    <input name="checkedAns-@question.Id" type="radio" value="@answers.Id" />
                    @answers.Ans
                </label>
            </li>
            }
        </ul>
    }

    <div>
        <input style="margin-top: 20px" type="submit" value="Submit" />
    </div>
}



@*for (int i = 0; i < Model.Questions.Count; i++)
    {

        @Html.HiddenFor(modelItem => modelItem.Questions[i].Id)
        @Html.HiddenFor(modelItem => modelItem.Questions[i].Quest)
        @Html.HiddenFor(modelItem => modelItem.Questions[i].Answers)
        //var answers = Model.Answers.Where(c => c.QuestionId == Model.Questions[i].Id).ToList();

        for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
        {
            <li>

                @Html.HiddenFor(modelItem => Model.Questions[i].Answers.ToList()[j].IsCorrect)
                @Html.CheckBoxFor(modelItem => Model.Questions[i].Answers.ToList()[j].IsChecked) @Html.DisplayFor(modelItem => Model.Questions[i].Answers.ToList()[j].Ans)

            </li>

        }
    }*@